body {
    background-color: whitesmoke;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}

a {
    text-decoration: none;
}

.container {
    max-width: 800px;
    display: block;
    margin: auto;
    box-sizing: border-box;
    padding: 0 10px;
}

.header {
    background-color: white;
    padding: 1px 0;
    box-shadow: 0px -10px 3px 10px rgba(0, 0, 0, 0.2);
}

.header h1 {
    font-weight: normal;
}

.header h1 a {
    text-decoration: none;
    color: inherit;
}

.content {
    padding: 10px 0;
}

.table {
    border-collapse: collapse;
    width: 100%;
}

.table tr {
    border-bottom: 3px solid whitesmoke;
    border-radius: 3px;
    overflow: hidden;
}

.table th, .table td {
    padding: 5px;
}

.table th {
    text-align: left;
    font-weight: 100;
}

.table td {
    background-color: white;
}

.table .execution_date {
    opacity: 0.4;
}

.section_title {
    font-weight: normal;
}

.section_title form {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 .5em;
}

.console_output {
    background-color: #3c3c3c;
    color: white;
    padding: 20px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.29);
    border-radius: 3px;
}

.execution_status_finished {
    font-weight: bold;
    color: white;
    padding: .3em .5em;
    border-radius: 3px;
    font-size: 0.7em;
    vertical-align: middle;
}

.status_dot {
    display: inline-block;
    vertical-align: middle;
    background-color: gray;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-bottom: .2em;
    margin-left: .15em;
}

/* https://flatuicolors.com/palette/nl */
.execution_status_finished.is-running, .status_dot.is-running {
    background-color: #5758BB;
}
.execution_status_finished.is-finished, .status_dot.is-finished {
    background-color: #009432;
}
.execution_status_finished.is-failed, .status_dot.is-failed {
    background-color: #EA2027;
}
