<html>
    <head>
        <title>Workr</title>
    </head>
    <body>
        <h1>Workr</h1>
        <b>Jobs: </b>
        <ul>
            <%- jobs.each do |job_info| -%>
            <li>
                <a href="/job/<%= job_info.name %>">
                    <%= job_info.name %>
                </a>
            </li>
            <%- end -%>
        </ul>
    </body>
</html>
