<%- def login() -%>
    <%- layout_base(title: "Login") do -%>
        <form method="post" enctype="multipart/form-data">
            <input type="text" name="username" placeholder="Username" autofocus /><br/>
            <input type="password" name="password" placeholder="Password" /><br/>
            <input type="submit" value="Login" />
        </form>
    <%- end -%>
<%- end -%>