<%- def login() -%>
    <%- layout_base(title: "Login") do -%>

        <form>
            <input type="text" name="username" />
            <input type="password" name="password" />
        </form>

    <%- end -%>
<%- end -%>